* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
h1 {
  text-align: center;
  font-size: 1.3em;
}

form {
  /* padding-left: 60px; */
  margin-top: 15px;
  width: auto;
}

form input {
  width: 500px;
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 2rem;
  /* margin: 1rem; */
}

#favoriteOnly {
  margin: 15px;
  margin-bottom: 30px;
  width: 200px;
  height: 35px;
}

.form-control {
  width: 85%;
}

.button {
  width: 150px;
  align-self: center;
  /* align-items: center; */
}
